OPENAI_API_KEY = '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'

OPENAI_ORGANIZATION_ID = 'OPENAI_ORGANIZATION_ID'